spring-eureka-client/target/generated-sources/
spring-eureka/target/generated-sources/
spring-hystrix-dashboard/target/generated-sources/
spring-hystrix-demo/target/generated-sources/
spring-service-demo/target/generated-sources/

.idea

